{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h3>Votre Panier</h3>
    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
