{% extends "base.html.twig" %}

{% block body %}

    <h1 class="display-4 text-center my-4">Identifiez-vous</h1>
    {# si ilya une erreur des identifiants de connexion , alors on entre dans le if eyt on affiche le message d'erreur #}
    {# error est une variable twig qui vient du controller securitycontroller #}
    {% if error %}
        <div class="alert alert-danger text-center p-3 col-md-4 mx-auto rounded">{{ error.messagekey|trans(error.messageData, 'security') }}</div>
        {# tans(error.messageData,'security') : on indique a twig que la traduction d'erreur 'Invalid credentials.' se trouve dans le ficheier 'tanslations.en.php #}
    {% endif %}

    <form method="post" class="col-md-5 mx-auto" action="{{ path('security_login') }}">
        <div class="form-group">
            <label for="_username">Email</label>
            <input type="text" class="form-control" id="_username" name="_username"  >

        </div>
        <div class="form-group">
            <label for="_password">Mot de passe</label>
            <input type="password" class="form-control" id="_password" name="_password">
        </div>

        <button type="submit" class="btn btn-dark">connexion</button>
    </form>

{% endblock %}