*{
    text-decoration:none;
}

.carousel{
    margin: 0;
}

.part_left{
  margin-top: 4vh;
}

.part_right{
  margin-top: 4vh;
   
}

h1{
    text-align: center;
}

.title_concept{
    background:rgb(182, 180, 180); border:solid 2px grey; color:rgb(78, 78, 78)
}

.paragraphe_style{
    background:rgb(209, 207, 207); border:solid 2px rgb(143, 142, 142); color:rgb(78, 78, 78); margin-top:10vh
}