{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/partenaire.css') }}">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/style_menu.css') }}">
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <div class="container d-flex">
        <div class="part_left col-12 col-md-8">
            <div class="pico">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptas repellendus 
                    voluptate exercitationem quaerat voluptatum incidunt aliquam consequatur laudantium aspernatur
                    ab dolores, cum ea ratione! Maiores corrupti voluptatum et harum. voluptate exercitationem quaerat voluptatum incidunt aliquam consequatur laudantium aspernatur
                    
            </div>
            <section  class="pico d-flex justify-content-around">
                
                <div class="rolo">fffffffffffff</div>
                
                
                <div class="rolo">fffffffffffff</div>
                
                
                <div class="rolol">fffffffffffff</div>
                
            </section>
            <section class="pico d-flex justify-content-around">
                <div>
                    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe sit ad aut illum! Sint,
                        incidunt quia provident labore libero nesciunt. Atque numquam ullam quisquam ut distinctio,
                        similique ipsum quos cupiditate!
                    </p>
                </div>
                <div>
                    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe sit ad aut illum! Sint,
                        incidunt quia provident labore libero nesciunt. Atque numquam ullam quisquam ut distinctio,
                        similique ipsum quos cupiditate!
                    </p>
                </div>
                <div>
                    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe sit ad aut illum! Sint,
                        incidunt quia provident labore libero nesciunt. Atque numquam ullam quisquam ut distinctio,
                        similique ipsum quos cupiditate!
                    </p>
                </div>
            </section>
            
        </div>
        
        <div class="part_right col-12 col-md-4">
            <h1 class="title_partenair"> {{ title }} </h1>
        </div> 
    </div>

{% endblock %}
